doctype

.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref="dashboard")
                i.fa.fa-lg.fa-barcode
                | &nbsp; BOM Management
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                // li(ng-class="{active: $state.current.activeNav === 'settings'}")
                //     a(ui-sref="settings") Settings
                // li(ng-class="{active: $state.current.activeNav === 'profile'}")
                //     a(ui-sref="profile") Profile
                li(ng-class="{active: $state.current.activeNav === 'help'}")
                    a(ui-sref="help") Help
                li.navbar-text Welcome, {{Auth.getName()}}
                li
                    a(ng-click="logout()") Logout


.container-fluid
    .row
        .col-xs-3.col-sm-3.col-md-3
            ul.nav
                li(ng-class="{active: $state.current.activeNav === 'dashboard'}")
                    a(ui-sref="dashboard")
                        i.fa.fa-tachometer.fa-fw
                        | &nbsp;Dashboard
            ul.nav
                li(ng-class="{active: $state.current.activeNav === 'inventory'}")
                    a(ng-click="sidebarService.collapsed.inventory = !sidebarService.collapsed.inventory")
                        i.fa.fa-barcode.fa-fw
                        | &nbsp;Inventory
                        i.pull-right.fa.fa-plus-square-o.fa-fw(ng-show="sidebarService.collapsed.inventory")
                        i.pull-right.fa.fa-minus-square-o.fa-fw(ng-show="!sidebarService.collapsed.inventory")
                    ul.nav.sub-nav(collapse="sidebarService.collapsed.inventory")
                        li(ng-class="{active: $state.current.activeSubNav === 'storerooms'}")
                            a(ui-sref="inventory.storerooms") Storerooms
                        li(ng-class="{active: $state.current.activeSubNav === 'items'}")
                            a(ui-sref="inventory.items") Items
                        li(ng-class="{active: $state.current.activeSubNav === 'inventories'}")
                            a(ui-sref="inventory.inventories") Inventory
                        li(ng-class="{active: $state.current.activeSubNav === 'inventories'}")
                            a(ui-sref="inventory.boms") BOMs
        .col-xs-9.col-sm-9.col-md-9.main
            div
                alert(ng-repeat="alert in inlineAlerts", type="alert.type", close="closeInlineAlert($index)") {{ alert.msg }}
            .view(ui-view)
